/**

Stylesheet for Tourpress Documentation

**/
.md-typeset img {
    border: 3px solid #b7b7b75e;
}

.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
.md-typeset h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #333;
}

.md-typeset h1 {
    color: #03a9f4;
    font-weight: bold;
    border-bottom: 2px solid #edf5f9;
    padding-bottom: 20px;
    margin: 0;
}

.md-typeset h2 {
    font-weight: 400;
    font-weight: bold;
    margin: 25px 0 5px 0;
    font-size: 1.5625em;
}

.md-typeset,
.md-typeset code,
.md-typeset kbd,
.md-typeset pre {
    font-size: .7rem;
}

.md-nav__link {
    font-size: 14px;
}

html .md-typeset .admonition-title {
    font-weight: 500 !important;
}